

{{!-- Navigation links --}}
   
<nav class="navbar navbar-expand-lg bg-dark bg-opacity-75 text-white">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navigation</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active hover-overlay ripple " href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active hover-overlay ripple " href="/register">Register</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active hover-overlay ripple" href="/login">Login</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

{{!-- Body of each page will go here --}}
     {{!-- Body --}}

  <div class="container mt-4">
        <div class="mt-4 p-5 bg-primary text-white rounded">
            <h1>The Tech Blog</h1>
            <p> Tech Tips and How-Tos: Mastering the Digital World</p>
        </div>
    </div>
</body>
</html>

