

    <div class="container mt-4">
        <div class="card" style="width: 18rem;">            
            <div class="card-header">Login Form</div>    
            <div class="card-body">
                <form class="login-form">
                    <div class="mb-3">
                        <label for="name-login" class="form-label">Name</label>
                        <input type="text" class="form-control" id="name-login" name="name">                        
                    </div>
                    <div class="mb-3">
                        <label for="password-login" class="form-label">Password</label>
                        <input type="password" class="form-control" id="password-login" name="password">
                    </div>
                  

                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
